<a href="https://colab.research.google.com/github/tohnperfect/DPDM2023/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***pandas*** is a python package for manage table data. pandas data structure for table is DataFrame

In [ ]:
import pandas #we use import to pandas define a package that we are using

In [ ]:
import pandas as pd #import package and name it as ...

CSV => comma separated values
- use comma (,) to separate values
- use new line (enter,\n) to separate data points

In [ ]:
data_df = pd.read_csv('/content/data.csv')

In [ ]:
data_df

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

****

 ## Data structure

### list
- list is a container to keep everything
- it gives attention to order of the things in the container

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df] ## [] (square brackets)

In [ ]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

indexing

In [ ]:
list_a[1]

2

In [ ]:
list_a[5]

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

*Negative* index to get value from the end of the list

In [ ]:
list_a[-1] ## Negative index

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

In [ ]:
list_b = ['pizza', list_a, 9]
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

In [ ]:
list_b[1][0]

1

In [ ]:
list_b[1]

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

### String is a list of characters

In [ ]:
x = 'shabu'
x[-2] ##ชี้ไปที่ตัว  b

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3], 9]

In [ ]:
list_a + list_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

### creating a list
1. create an empty list
2. add member to the list
3. then you can indexing the list

1. create an empty list

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list()
print(list_bb)

[]

2. adding a member to the list (.append())

In [ ]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [ ]:
list_aa.append('rice')

In [ ]:
list_aa

['chiken', 'water', 'vegetable', 'rice']

In [ ]:
list_aa[-1] ##indexing

'rice'

In [ ]:
list_aa[2]

'vegetable'

In [ ]:
list_aa.append('plate')
#list_aa
list_aa[-2]

'rice'

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')

In [ ]:
list_aa.append('apple')

#### list slicing

we cut part of the list using : (colon)

 list_name[start:end:step]

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:7]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:]

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [ ]:
list_aa[:5]

['chiken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
list_aa[:5:2]

['chiken', 'vegetable', 'plate']

In [ ]:
list_aa[::-1]

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chiken']

##### **Quiz 1**

cut the following parts of lists from list_aa

1. 'iken'
2. 'get'
3. 'tab'

In [ ]:
list_aa[0][2:]

'iken'

In [ ]:
list_aa[2][2:5]

'get'

In [ ]:
list_aa[2][4:7]

'tab'

In [ ]:
list_aa[-1][1:]

'pple'

In [ ]:
list_aa[1][:3]

'wat'

## Looping
to make the code to repetitive works

[indent]

``` python
for each_member_of_the_list in the_list_we_want_to_loop :
    do something
    do another thing

this is outside the loop

```

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
for each in list_aa:
    print(each)

chiken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [ ]:
for i in [1,2,3]:
    print(i,end='')
    print('xx')

1xx
2xx
3xx

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i} \n/////////////////')

now i is chiken
I like to eat chiken
/////////////////
now i is water
I like to eat water
/////////////////
now i is vegetable
I like to eat vegetable
/////////////////
now i is rice
I like to eat rice
/////////////////
now i is plate
I like to eat plate
/////////////////
now i is spoon
I like to eat spoon
/////////////////
now i is fork
I like to eat fork
/////////////////
now i is knife
I like to eat knife
/////////////////
now i is apple
I like to eat apple
/////////////////

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [ ]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99

# finised 18 July 2023

### Nested loop

- a loop in a loop

In [1]:
for i in range(3):
    print(f'i = {i} (outer loop)')
    for j in range(2):
      print(f'i = {i}, j = {j}, i+j = {i+j} (inner loop)')

i = 0 (outer loop)
i = 0, j = 0, i+j = 0 (inner loop)
i = 0, j = 1, i+j = 1 (inner loop)
i = 1 (outer loop)
i = 1, j = 0, i+j = 1 (inner loop)
i = 1, j = 1, i+j = 2 (inner loop)
i = 2 (outer loop)
i = 2, j = 0, i+j = 2 (inner loop)
i = 2, j = 1, i+j = 3 (inner loop)

Example of looping 1

create a list
[[1],[1,1], [1,1,1],...,[1,1,1,1,1,1,1,1,1,1] with for loop [link text](https://)

In [3]:
list_A = []
for i in range(10):
   AA = []
   for j in range(i+1):
      A=1
      AA.append(A)
   list_A.append(AA)

In [4]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [10]:
## answer
list_ans = []
print(f'list_ans = {list_ans} \n ---------')
for i in range(1, 11):
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)
    print(f'i = {i} j = {j} : temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans} \n -------------')


print(list_ans)

list_ans = []
 ---------
i = 1 j = 0 : temp = [1]
list_ans = [[1]]
 -------------
i = 2 j = 1 : temp = [1, 1]
list_ans = [[1], [1, 1]]
 -------------
i = 3 j = 2 : temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 -------------
i = 4 j = 3 : temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 -------------
i = 5 j = 4 : temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 -------------
i = 6 j = 5 : temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 -------------
i = 7 j = 6 : temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 -------------
i = 8 j = 7 : temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 -------------
i = 9 j = 8 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 -------------
i = 10 j = 9 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 -------------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

Example of looping 1


create a list
[[1],[1,2], [1,2,3],...,[1,2,3,4,5,6,7,8,9,10] with for loop

In [ ]:
list_A = []
for i in range(10):
   AA = []
   for j in range(i+1):
      AA.append(j+1)
   list_A.append(AA)

In [ ]:
print(list_A)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

# Quiz 2
create a list
[[a],[a,b], [a,b,c],...,[a,b,c,d,e,f,g,h,i,j]] with for loop

finish at 13:55

In [11]:
listofletters = ['a','b','c','d','e','f','g','h','i','j']

In [12]:
list_A = []
for i in range(1,11):
   list_A.append(listofletters[:i])

In [13]:
list_A

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

In [14]:
list_AA = []
for i in range(10):
   AA = []
   for j in range(i+1):
      AA.append(listofletters[j])
   list_AA.append(AA)

In [15]:
list_AA

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

## Conditional Statement (if statement)


``` python
if condition (with these symbols: ==, !=, <, >, <=, >=, in, is_null(), and, or, &, |) :
    Do this when the condition is True #1
    Do this when the condition is True #2
```

In [ ]:
if 1<5:
   print('yes')

yes

## Conditional Statement (if statement)


``` python
if condition1 (with these symbols: ==, !=, <, >, <=, >=, in, is_null(), and, or, &, |) :
    Do this when the condition1 is True #1
    Do this when the condition1 is True #2
elif condition2:
    Do this when condition 1 is False and codition 2 is True #1
    Do this when condition 1 is False and codition 2 is True #2
elif condition3:
    Do this when condition 1 and 2 are False and codition 3 is True #1
else: # if all above conditions are False
    Do this when all conditions are False
```

In [ ]:
x = 12

if x<5:
   print('yes')
else:
   print('no')

no

In [16]:
list_ex = [1,5,9,-19,-2,0]

### Example
 # find the smallest number in ```list_ex``` without using ```min()``` function (you can use only  ```for``` and ```if```)

In [17]:
minimum = list_ex[0]
for number in list_ex:
    if minimum > number:
       minimum = number
print(minimum)

-19

In [19]:
## commented answer
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i \n -------------')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
 -------------
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
 -------------
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
 -------------
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
 -------------
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
 -------------
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
 -------------
-19

In [ ]:
list_ex = [1,5,9,-19,-2,0]

min = 100000000
for x in list_ex:
    if x < min:
        min = x

print(min)

-19

#### example
list_ex = [1,5,9,-19,-2,0]

find the maximum number in ```list_ex``` without using ```max()``` function (you can use only ```for``` and ```if```)

In [ ]:
maximum = list_ex[0]
for number in list_ex:
    if maximum < number:
       maximum = number
print(maximum)

9

# HW1
sort the number in ```list_ex``` without using sorting function (you can use only ```for``` and ```if```)

**Python infinity**

Representing infinity as an Integer in python

1. Using float(‘inf’) and float(‘-inf’):

In [20]:
float('inf')

inf

In [21]:
float('-inf')

-inf

2. using Python’s math module:

In [ ]:
import math

In [ ]:
math.inf

inf

In [ ]:
-math.inf

-inf

###Function

``` python
def function_name(input1,input2,....):
    process #1
    process #2
    return output
```

![image.png]()

**four important parts of a function**
- function name (needed)

- input

- process (needed)

- output

#### Example 1

In [22]:
def find_min(list_ex):
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x

    return min

In [23]:
list_A = [1,5,9,-19,-2,0]
XXX = find_min(list_A)
print(XXX)

-19

In [24]:
find_min([-9,99,0,-34])

-34

#### Example 2
Function without Output
- cannot set a value to a variable

In [25]:
def find_min2(list_ex): ## no return
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x
    print(min)

In [26]:
find_min2(list_A)

-19

In [27]:
YYY = find_min2(list_A) ## ไม่เก็บค่า แต่ print ออกมาเลย

-19

In [28]:
YYY

#### Example 3
Function without Input

In [29]:
def Pi_val():
    return 3.1416

In [30]:
r = 10
print(f'พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ {r} คือ {Pi_val()*r*r}')

พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ 10 คือ 314.16

#### Example 4
Function that has only the Process part

In [ ]:
def draw_rectangle():
    print('======')
    print('|    |')
    print('======')

In [ ]:
draw_rectangle()

======
|    |
======

In [ ]:
def draw_hello():
    print('============')
    print('|  Hello  |')
    print('============')

In [ ]:
draw_hello()

============
|  Hello  |
============

Function without a Process means error

In [ ]:
def draw_rectangle():

SyntaxError: ignored

# type of inputs (paremeters or arguments)

- non-default argument : you need to give an input to this argument

- default argument : you can ignore it because it has a default value

In [33]:
def draw_rectangle(dbbound=True): ## this is an example of a default argument: set default to True
    if dbbound:
        print('========')
        print('||    ||')
        print('========')
    else:
        print('________')
        print('|      |')
        print('--------')

In [34]:
draw_rectangle()

========
||    ||
========

In [35]:
draw_rectangle(True)

========
||    ||
========

In [36]:
draw_rectangle(False)

________
|      |
--------

When you call a function that require non-default argument without input, it will return error

In [37]:
find_min2()

TypeError: ignored

# when define a function, you have to put non-default argument first

In [39]:
def draw_rectangle(size,dbbound=True): ## size is non-default argument
    if dbbound:
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')

In [41]:
draw_rectangle() ## error

TypeError: ignored

In [42]:
draw_rectangle(20,False)

------------------------
|                    |
------------------------

You don't have to follow the order of the arguments if you specify what arguments are what

In [43]:
draw_rectangle(dbbound=False,size=25)

-----------------------------
|                         |
-----------------------------

In [44]:
draw_rectangle(size=7)

===========
||       ||
===========

#### example

create a function that:

- draw a rectangle that you can specify width and height of it
- but when user input only one argument draw square

print width X height


**example**

rext(3,5)
> 3 x 5

rext(7)

> 7 x 7

In [45]:
def draw_rectagle(W, H):
    print(f'{W} x {H}')
draw_rectagle(3, 5)

3 x 5

In [46]:
def draw_rectagle(W, H=True):
    if H == True: #
        H=W
    print(f'{W} x {H}')

In [47]:
draw_rectagle(3)

3 x 3

In [48]:
draw_rectagle(3,5)

3 x 5

In [49]:
def draw_rectagle(W, H=True):
    if H ==True:
       up = '-'
       side = '|'
       space = W-1
       print(f'{W*up}')
       for i in range(W):
           print(f'{side}{space*" "}{side}')
       print(f'{W*up}')
       print((f'{W} x {W}'))
    else:
        up = '-'
        side = '|'
        space = W-1
        print(f'{W*up}')
        for i in range(H):
            print(f'{side}{space*" "}{side}')
        print(f'{W*up}')
        print((f'{W} x {H}'))

In [50]:
draw_rectagle(W=5)

-----
|    |
|    |
|    |
|    |
|    |
-----
5 x 5

In [51]:
draw_rectagle(W=5,H=10)

-----
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
|    |
-----
5 x 10

In [52]:
draw_rectagle(W=10,H=10)

----------
|         |
|         |
|         |
|         |
|         |
|         |
|         |
|         |
|         |
|         |
----------
10 x 10

In [53]:
draw_rectagle(W=5,H=5)

-----
|    |
|    |
|    |
|    |
|    |
-----
5 x 5

# HW 2
create a function that  

1.   sort a list
2.   can specify to the function that sort it ascending or descending with the ascending as default
3.   have 2 arguments one default and one non-default