<a href="https://colab.research.google.com/github/tohnperfect/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความในช่อง text เป็นภาษา Markdown (https://www.markdownguide.org/cheat-sheet/)

#String manipulation and Print statement

### python example

In [15]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range(10):
        ccc=10
        #print(ccc)

a /
b /
c /

## String (text)

In [6]:
text1 = "Stat"

In [7]:
text2 = 'KKU'

In [8]:
print(text1)

Stat

In [9]:
print(text1 + text2)

StatKKU

In [10]:
print(text1 + 5)

TypeError: ignored

In [11]:
print(5 + text1)

TypeError: ignored

## Variable

In [19]:
a = 5 #int
print(a)

5

In [17]:
b = 5.7 #float
print(b)

5.7

In [20]:
c = a-b
print(c)

-0.7000000000000002

## variable naming rules

1. Try to use meaningful word

2. Do it in English

3. You can use number in variable name but the name cannot start with number

4. there should be no space in the name

5. variable name is case-sensitive (Abc is not equal to ABC)

## Advanced printing

In [21]:
print(f'six plus five = {6+5}')

six plus five = 11

In [25]:
print(f'six plus five = {6+5:.2f}%')

six plus five = 11.00%

In [29]:
print(f'six plus five = {6+5:03d}')

six plus five = 011

In [30]:
st1 = f'six plus five = {6+5:03d}'

In [31]:
st1

'six plus five = 011'

## ชนิดของตัวแปร

### char(acter) (ตัวอักษร)

In [ ]:
a = 'Ch'

In [ ]:
b = 'aracter'

In [ ]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}') # string + string คือมาต่อกันได้

a=Ch b=aracter, then Ch+aracter = Character

In [ ]:
A = 'c'
B = 'a'

In [ ]:
print(A+B) # string + string คือมาต่อกันได้

ca

### int(eger) (จำนวนเต็ม)

In [ ]:
int_a = 7
int_b = 2

In [ ]:
int_c = int_a + int_b # เอาตัวเเปรมารับตัวผลการกระทำได้
print(int_c)

9

### Float (จำนวนจริง ทศนิยม)

In [ ]:
fl_a = 7. # ใส่เเค่ . ด้านหลังตัวเลขก็จะกลายเป็น ทศนิยมไปเลย
fl_b = 2.571

In [ ]:
fl_a

7.0

In [ ]:
fl_b

2.571

In [ ]:
print(fl_a) # เเสดงเป็น float

7.0

### Boolean (ตัวเเปรที่มีค่า True หรือ False) ตรรกศาสตร์

In [ ]:
b_T = True

In [ ]:
b_F = False

### Complex number (จำนวนเชิงซ้อน)

In [ ]:
x = 1 + 2j

### เราสามารถตรวจสอบชนิดของตัวแปรด้วยคำสั่ง type

In [ ]:
print(f'ตัวแปร x ค่าคือ {x} ชนิด {type(x)}') # เอาไว้ดูชนิดของตัวแปร

ตัวแปร x ค่าคือ (1+2j) ชนิด <class 'complex'>

In [ ]:
print(f'ตัวแปร A ค่าคือ {A} ชนิด {type(A)}')

ตัวแปร A ค่าคือ c ชนิด <class 'str'>

In [ ]:
print(f'ตัวแปร a ค่าคือ {a} ชนิด {type(a)}')

ตัวแปร a ค่าคือ Ch ชนิด <class 'str'>

## การแปลงชนิดของตัวแปร (Variable Casting)

In [ ]:
print(f'int_a = {int_a} int_b = {int_b} Fl_a = {fl_a} fl_b = {fl_b}')

int_a = 7 int_b = 2 Fl_a = 7.0 fl_b = 2.571

In [ ]:
str_a = '6'
str_b = '-2'

In [ ]:
str_a2int = int(str_a) # การเเปลงจาก string ไปเป็น int
print(f'ตัวแปร str_a2int ค่าคือ {str_a2int} ชนิด {type(str_a2int)} ')

ตัวแปร str_a2int ค่าคือ 6 ชนิด <class 'int'>

In [ ]:
str_a2int + int_a

13

In [ ]:
str_a + int_a # ไม่สามารถนำ string + int ได้

TypeError: ignored

In [ ]:
int_a + str_a  # สลับที่ก็ไม่สามารถทำได้อยู่ดี

In [ ]:
int(fl_b) # จะปัดลง

2

In [ ]:
float(int_a) # ปรับจาก int เป็น float

7.0

In [ ]:
str(fl_b) # เเปลงจาก flaot เป็น string

'2.571'

## Operation เอาตัวแปรสองตัวมาทำอะไรกัน

### operators (บวก (+), ลบ(-),คูณ(*),หาร(/),modulo(%),and(&),and(&),or(|) )

In [ ]:
fl_a + int_b # สามารถนำมาบวกกันได้ เเต่ได้ผลลัพธ์ออกมาเป็น ทศนิยม

9.0

In [ ]:
9%2 # การหาร เอาเศษ ช่วยในการเช็คว่าเป็นการหาเลขคู่ หรือ เลขคี่

1

In [ ]:
100%2 # ถ้าได้เป็น 0 เป็นเลขคู่ 1 เป็นเลขคี่

0

In [ ]:
int_a / int_b

3.5

In [ ]:
int(int_a / int_b)  # สามารถ casting ออกมาเป็น int

3

In [ ]:
False & False # False เเละ False ได้ออกมาเป็น False

False

In [ ]:
False & True # False เเละ True ได้ออกมาเป็น False

False

In [ ]:
False | True # False หรือ  True ได้ออกมาเป็น True

True

### String operations

`+` -> concat, `*`-> repeat

In [ ]:
st_test1 = 'Department of Statistics,' # กำหนดตัวแปร
st_test2 = 'Faculty of Science'

In [ ]:
print(st_test1+st_test2) # สามารถนำ สอง string มาบวกกัน

Department of Statistics,Faculty of Science

In [ ]:
print(10*'t') # สามารถนำstring มาคูณกับเลข เเล้วได้ออกมาเป็นจำนวนตามนั้น

tttttttttt

In [ ]:
print(3*st_test1) # คูณกับ string ได้

Department of Statistics,Department of Statistics,Department of Statistics,

### replace() แทนที่ string

In [ ]:
st_test1.replace('e',' ') # เเทนที่ e ด้วย ช่องว่าง

'D partm nt of Statistics,'

In [ ]:
st_test1.replace('e','') # ลบ e ออก

'Dpartmnt of Statistics,'

In [ ]:
st_test1 # ต้นเเบบ

'Department of Statistics,'

In [ ]:
'Department of Statistics,'.replace('a','x') # เเทนที่ตัว a ด้วย x

'Depxrtment of Stxtistics,'

### ```split()``` แยก string

In [ ]:
'a b c d e f g'.split() # ตัด string ที่ช่องว่าง

['a,b,c,d,e,f,g']

In [ ]:
'a,b/c,d e/f g'.split('/') # เเยกด้วย /

['a,b', 'c,d e', 'f g']