<a href="https://colab.research.google.com/github/tohnperfect/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความในช่อง text เป็นภาษา Markdown (https://www.markdownguide.org/cheat-sheet/)

#String manipulation and Print statement

### python example

In [ ]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range(10):
        ccc=10
        #print(ccc)

a /
b /
c /

## String (text)

In [ ]:
text1 = "Stat"

In [ ]:
text2 = 'KKU'

In [ ]:
print(text1)

Stat

In [ ]:
print(text1 + text2)

StatKKU

In [ ]:
print(text1 + 5)

TypeError: ignored

In [ ]:
print(5 + text1)

TypeError: ignored

## Variable

In [ ]:
a = 5 #int
print(a)

5

In [ ]:
b = 5.7 #float
print(b)

5.7

In [ ]:
c = a-b
print(c)

-0.7000000000000002

## variable naming rules

1. Try to use meaningful word

2. Do it in English

3. You can use number in variable name but the name cannot start with number

4. there should be no space in the name

5. variable name is case-sensitive (Abc is not equal to ABC)

## Advanced printing

In [ ]:
print(f'six plus five = {6+5}')

six plus five = 11

In [ ]:
print(f'six plus five = {6+5:.2f}%')

six plus five = 11.00%

In [ ]:
print(f'six plus five = {6+5:03d}')

six plus five = 011

In [ ]:
st1 = f'six plus five = {6+5:03d}'

In [ ]:
st1

'six plus five = 011'

In [1]:
print('stat')

stat

### separator

In [2]:
print('stat','KKU')

stat KKU

In [3]:
print('stat','KKU',sep='/')

stat/KKU

### end

In [4]:
print('stat')
print('KKU')

stat
KKU

In [5]:
print('stat',end='+-+')
print('KKU')

stat+-+KKU

## Variable types

### char(acter) (ตัวอักษร)

In [6]:
a = 'C'

In [7]:
b = 'haracter'

### ```string + string``` mean concatenation

In [8]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}')

a=C b=haracter, then C+haracter = Character

In [9]:
A = 'c'
B = 'a'

In [10]:
print(A+B) # string + string คือมาต่อกันได้

ca

# ```integer * char``` mean multiple copies of the char

In [11]:
print(5*'T')

TTTTT

## Quiz1
print Ha for 100 times with one print function

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

### Int(eger) (จำนวนเต็ม)

In [13]:
int_a = 7
int_b = 2

In [15]:
print(type(int_a),type(int_b))

<class 'int'> <class 'int'>

In [16]:
int_c = int_a + int_b # assign the value as the output of operation
print(int_c)

9

### Float (จำนวนจริง ทศนิยม)

In [17]:
fl_a = 7.
fl_b = 2.571

In [19]:
print(type(fl_a))

<class 'float'>

In [ ]:
print(fl_a) # เเสดงเป็น float

7.0

### Boolean (ตัวเเปรที่มีค่า True หรือ False) ตรรกศาสตร์

In [21]:
b_T = True

In [22]:
b_F = False

```==```equal,```!=```not equal,```>```greater than,```<=```less than or equal,```|```or, ```&```and

In [23]:
b_T | b_F

True

### Complex number (จำนวนเชิงซ้อน)

In [24]:
x = 1 + 2j

### we can check the datatype with ```type()```

In [26]:
print(f'variable x value is {x} and datatype is {type(x)}')

variable x value is (1+2j) and datatype is <class 'complex'>

In [30]:
print(f'variable A value {A} and datatype is {type(A)}')

variable A value c and datatype is <class 'str'>

In [29]:
print(f'variable a value {a} and datatype is {type(a)}')

variable a value C and datatype is <class 'str'>

## Variable Casting (การแปลงชนิดของตัวแปร)

In [31]:
print(f'int_a = {int_a} int_b = {int_b} Fl_a = {fl_a} fl_b = {fl_b}')

int_a = 7 int_b = 2 Fl_a = 7.0 fl_b = 2.571

In [32]:
str_a = '6'
str_b = '-2'

In [33]:
str_a2int = int(str_a) # transform string into int
print(f'variable str_a2int value is {str_a2int} and data type is {type(str_a2int)} ')

variable str_a2int value is 6 and data type is <class 'int'>

In [34]:
str_a2int + int_a

13

In [36]:
str(fl_b) # transform float to string

'2.571'

In [37]:
int(fl_b) # transform float to int (but it will cut the floating point)

2

### replace() แทนที่ string

In [38]:
st_test1 = 'Department of Statistics,'

In [39]:
st_test1.replace('e',' ') # replace e with space

'D partm nt of Statistics,'

In [41]:
st_test2 = st_test1.replace('e',' ')

In [42]:
st_test2

'D partm nt of Statistics,'

In [43]:
st_test1.replace('ti','TI') # modift ti to TI

'Department of StaTIsTIcs,'

### ```split()``` แยก string

In [44]:
'a b c d e f g'.split() # cut string at spaces

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [45]:
'abc de fg'.split() # cut string at spaces

['abc', 'de', 'fg']

In [46]:
'a,b/c,d e/f g'.split('/') # split with /

['a,b', 'c,d e', 'f g']